#myCol1, #myCol2{
    border: 1px rgb(110, 109, 109) solid;
}

#col1title{
    text-align: center;
}

#save-button{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#col2title{
    border-bottom: 2px rgb(110, 109, 109) solid;
}

#appetizer, #main-course{
    border-right: solid 2px rgb(110, 109, 109);
}
